# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/

# Ignore environment files
.env
*.env

# Ignore IDE/editor config files
.vscode/
.idea/
*.swp
src/recon/XSStrike